{% extends "patient/base.html" %}

{% block patient_title %}
Patient Dashboard | Medicare
{% endblock %}

{% block content %}

<section class="patient-page">

    <div class="md-top-grid">

        {% include "patient/sections/patient_summary.html" %}

        {% include "patient/sections/patient_banner.html" %}

    </div>

    <div class="md-content-grid">

        <div class="md-col">

            {% include "patient/sections/patient_health_metrics.html" %}

            {% include "patient/sections/patient_blood_pressure.html" %}

            {% include "patient/sections/patient_medical_info.html" %}

        </div>

        <div class="md-col">

            {% include "patient/sections/patient_prescriptions.html" %}

            {% include "patient/sections/patient_appointments.html" %}

        </div>

    </div>

</section>

{% if profile_incomplete %}
    {% include "patient/sections/patient_profile_completion_popup.html" %}
{% endif %}

{% endblock %}